<ng-template transloco let-t translocoRead="settingDialog.navigation">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>navigation</mat-icon>{{ t('title') }}
      </mat-panel-title>
      <mat-panel-description> {{ t('description') }}</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-label>{{ t('minActivationSpeed') }}</mat-label>
      <input
        matInput
        type="number"
        [ngModel]="minActivationSpeed$ | async"
        min="1"
        max="1000"
        step="1"
        (ngModelChange)="setMinActivationSpeed($event)"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ t('gpsTrackingInitialZoom') }}</mat-label>
      <input
        matInput
        type="number"
        [ngModel]="gpsTrackingInitialZoom$ | async"
        min="1"
        max="15"
        step="0.1"
        (ngModelChange)="setGpsTrackingInitialZoom($event)"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ t('gpsTrackingInitialPitch') }}</mat-label>
      <input
        matInput
        type="number"
        [ngModel]="gpsTrackingInitialPitch$ | async"
        min="0"
        max="85"
        step="1"
        (ngModelChange)="setGpsTrackingInitialPitch($event)"
      />
    </mat-form-field>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ t('directionLine') }}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="fields">
          <mat-form-field>
            <mat-label>{{ t('directionLineSegmentSeconds') }}</mat-label>
            <input
              matInput
              type="number"
              [ngModel]="directionLineSegmentSeconds$ | async"
              min="1"
              max="3600"
              step="1"
              (ngModelChange)="setDirectionLineSegmentSeconds($event)"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ t('directionLineSegmentCount') }}</mat-label>
            <input
              matInput
              type="number"
              [ngModel]="directionLineSegmentCount$ | async"
              min="1"
              max="100"
              step="1"
              (ngModelChange)="setDirectionLineSegmentCount($event)"
            />
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ t('widget') }}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="fields">
          <mat-form-field>
            <mat-label>{{ t('widgetBgColor') }}</mat-label>
            <input
              matInput
              type="color"
              [ngModel]="(widget$ | async)?.bgColor"
              (ngModelChange)="widgetBgColorChanged($event)"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ t('widgetTextColor') }}</mat-label>
            <input
              matInput
              type="color"
              [ngModel]="(widget$ | async)?.textColor"
              (ngModelChange)="widgetTextColorChanged($event)"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ t('allowedRows') }}</mat-label>
            <mat-select
              [ngModel]="(widget$ | async)?.allowedRow"
              (ngModelChange)="widgetAllowedRowsChanged($event)"
              multiple
            >
              <mat-option [value]="'NEXT_POINT_DISTANCE'">{{
                t('allowedRowList.NEXT_POINT_DISTANCE')
              }}</mat-option>
              <mat-option [value]="'NEXT_POINT_DURATION_LEFT'">{{
                t('allowedRowList.NEXT_POINT_DURATION_LEFT')
              }}</mat-option>
              <mat-option [value]="'NEXT_POINT_ARRIVE_TIME'">{{
                t('allowedRowList.NEXT_POINT_ARRIVE_TIME')
              }}</mat-option>
              <mat-option [value]="'GOAL_DISTANCE'">{{
                t('allowedRowList.GOAL_DISTANCE')
              }}</mat-option>
              <mat-option [value]="'GOAL_DURATION_LEFT'">{{
                t('allowedRowList.GOAL_DURATION_LEFT')
              }}</mat-option>
              <mat-option [value]="'GOAL_ARRIVE_TIME'">{{
                t('allowedRowList.GOAL_ARRIVE_TIME')
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</ng-template>
