/* You can add global styles to this file, and also import other style files */
:root {
  --bearing: 0; // map rotation
  --heading: 0; // device rotation to magnetic north
  --location-animation-duration: 0s;
  --widget-font-size-ratio: 1;
  --label-color: grey;
  --direction-line-color: black;
  --direction-line-odd-color: white;
  --base-color: white;
  --strong-border-color: black;
}

body,
html {
  all: initial;
  height: dvh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

#map {
  height: 100dvh;
}

.maplibregl-ctrl-top-right {
  padding: 0 0 1.25rem 1.25rem;
  pointer-events: all;
}

.maplibregl-ctrl-group button {
  width: 2.125rem;
  height: 2.125rem;

  .maplibregl-ctrl-icon {
    background-size: cover;
  }
}

.maplibregl-user-location-dot {
  background: none;
  width: 2rem;
  height: 2rem;
  transition: transform var(--location-animation-duration);

  &::after,
  &::before {
    all: initial;
  }

  &::after {
    content: '';
    width: inherit;
    height: inherit;
    background: url('./assets/mapCursor.svg');
    background-size: cover;
    transform: rotateZ(calc(calc(var(--bearing) - var(--heading)) * -1deg));
    display: block;
  }
}
