/* You can add global styles to this file, and also import other style files */
:root {
  --bearing: 0; // map rotation
  --heading: 0; // device rotation to magnetic north
  --location-animation-duration: 0s;
  --widget-font-size-ratio: 1;
  --label-color: grey;
  --direction-line-color: black;
  --direction-line-odd-color: white;
  --base-color: white;
  --strong-border-color: black;
  --active-color: limegreen;
  --non-active-color: red;
  --alert-color: red;
  --caution-color: orange;
  --bar-alert-color: red;
  --bar-caution-color: yellow;
  --bar-ok-color: limegreen;
  --rx-color: green;
  --tx-color: blue;
  --radio-error: red;
  --hover-color: #ddd;
  --compass-size: 20rem;
  --compass-pointer-color: #0d467f;
}

body,
html {
  all: initial;
  height: 100dvh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

#map {
  height: 100dvh;
}

.maplibregl-ctrl-top-right {
  padding: 0 0 1.25rem 1.25rem;
  pointer-events: all;
}

.maplibregl-ctrl-group button {
  width: 2.125rem;
  height: 2.125rem;

  .maplibregl-ctrl-icon {
    background-size: cover;
  }
}

.maplibregl-user-location-dot {
  background: none;
  width: 2rem;
  height: 2rem;
  transition: transform var(--location-animation-duration);

  &::after,
  &::before {
    all: initial;
  }

  &::after {
    content: '';
    width: inherit;
    height: inherit;
    background: url('../public/mapCursor.svg');
    background-size: cover;
    transform: rotateZ(calc(calc(var(--bearing) - var(--heading)) * -1deg));
    display: block;
  }
}

.mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
  padding-bottom: 0.1rem !important;
}
