.row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  mat-icon {
    flex-shrink: 0;
  }
}

mat-panel-description {
  display: none;
}

@media screen and (width > 500px) {
  mat-panel-description {
    display: flex;
  }
}
