<ng-template transloco let-t translocoRead="navigationDialog">
  <h1 mat-dialog-title>{{ t('title') }}</h1>
  <ng-container *ngIf="currentRoute$ | ngrxPush as currentRoute">
    <div mat-dialog-content>
      <mat-list cdkDropList (cdkDropListDropped)="drop($event, currentRoute)">
        <ng-container
          *ngFor="let point of currentRoute; trackBy: routeTrack; let i = index"
        >
          <mat-list-item cdkDrag>
            <div class="route-line">
              <div>{{ point.name }}</div>
              <mat-icon (click)="deleteRoutePoint(i)">delete</mat-icon>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
        <span matListItemTitle *ngIf="currentRoute.length < 1">{{
          t('noItemInList')
        }}</span>
      </mat-list>
    </div>
    <div mat-dialog-actions [align]="'end'" *ngrxLet="running$ as running">
      <button
        mat-mini-fab
        color="primary"
        *ngIf="!running"
        [disabled]="currentRoute.length < 1"
        (click)="startNavigation()"
      >
        <mat-icon>navigation</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="warn"
        *ngIf="running"
        (click)="stopNavigation()"
      >
        <mat-icon>stop</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="warn"
        *ngIf="!running"
        [disabled]="currentRoute.length < 1"
        (click)="deleteRoute()"
      >
        <mat-icon>block</mat-icon>
      </button>
    </div>
    <div mat-dialog-actions [align]="'end'">
      <button mat-button (click)="showPoiList()">{{ t('POIList') }}</button>
      <button
        class="margin-right"
        mat-button
        [mat-dialog-close]="false"
        (click)="showTrackHistory()"
      >
        {{ t('trackingHistory') }}
      </button>
      <button mat-button [mat-dialog-close]="false" cdkFocusInitial>
        {{ t('close') }}
      </button>
    </div>
  </ng-container>
</ng-template>
