<ng-template transloco let-t translocoRead="flyHistoryDialog">
  <h1 mat-dialog-title>{{ t('title') }}</h1>

  <div mat-dialog-content>
    @if (statistic$ | ngrxPush; as statistic) {
      <div class="info">
        <span class="mat-caption">{{ t('today') }}</span>
        <span class="value">{{ statistic.today | digitalTime }}</span>
      </div>

      <div class="info">
        <span class="mat-caption">{{ t('month') }}</span>
        <span class="value">{{ statistic.month | digitalTime }}</span>
      </div>

      <div class="info">
        <span class="mat-caption">{{ t('year') }}</span>
        <span class="value">{{ statistic.year | digitalTime }}</span>
      </div>

      <div class="info">
        <span class="mat-caption">{{ t('all') }}</span>
        <span class="value">{{ statistic.all | digitalTime }}</span>
      </div>
    }

    @if (items$ | ngrxPush; as items) {
      <div class="mat-elevation-z3">
        <table mat-table [dataSource]="items.list">
          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef>{{ t('duration') }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.duration | digitalTime }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ t('name') }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.name }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          [length]="items.totalItems"
          showFirstLastButtons
          (page)="handlePageEvent($event)"
        >
        </mat-paginator>
      </div>
    }
  </div>

  <div mat-dialog-actions [align]="'end'">
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>
      {{ t('close') }}
    </button>
  </div>
</ng-template>
