mat-slide-toggle {
  display: block;
  margin-bottom: 0.5rem;
}

mat-form-field {
  max-width: 100%;
}

mat-panel-description {
  display: none;
}

@media screen and (width > 500px) {
  mat-panel-description {
    display: flex;
  }
}
