<laamap-radar-widget />
<laamap-speed-meter-widget />
<laamap-altimeter-widget />
<laamap-variometer-widget />
<laamap-tracking-widget />
<laamap-navigation-goal-widget />
<laamap-navigation-next-point-widget />
<laamap-center-icon></laamap-center-icon>
<laamap-global-search></laamap-global-search>
<laamap-gamepad-widget></laamap-gamepad-widget>
<laamap-aircraft-bar-instrument-widget
  [type]="'oilTemp'"
></laamap-aircraft-bar-instrument-widget>
<laamap-aircraft-bar-instrument-widget
  [type]="'oilPressure'"
></laamap-aircraft-bar-instrument-widget>
<laamap-aircraft-bar-instrument-widget
  [type]="'cht1Temp'"
></laamap-aircraft-bar-instrument-widget>
<laamap-aircraft-bar-instrument-widget
  [type]="'cht2Temp'"
></laamap-aircraft-bar-instrument-widget>
<laamap-aircraft-bar-instrument-widget
  [type]="'fuel1'"
></laamap-aircraft-bar-instrument-widget>
<laamap-aircraft-bar-instrument-widget
  [type]="'fuel2'"
></laamap-aircraft-bar-instrument-widget>
<laamap-aircraft-bar-instrument-widget
  [type]="'rpm'"
></laamap-aircraft-bar-instrument-widget>
