<ng-template transloco let-t translocoRead="customFlyRouteDialog">
  <h1 mat-dialog-title>{{ t('title') }}</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ t('name') }}</mat-label>
      <input matInput type="text" [formControl]="name" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-button [mat-dialog-close]="name.value" [disabled]="!name.valid">
      <ng-container *ngIf="nameExists$ | async; else nameNotExists">{{
        t('overwrite')
      }}</ng-container>
      <ng-template #nameNotExists>{{ t('save') }}</ng-template>
    </button>
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>
      {{ t('close') }}
    </button>
  </div>
</ng-template>
