.info {
  .mat-caption {
    color: var(--label-color);

    &::after {
      content: ': ';
    }
  }

  .value {
    margin-left: 0.5rem;
  }
}

.activation {
  &.activated {
    color: var(--activation-alert-color);
  }

  &.deactivated {
    color: var(--label-color);
  }

  &.unknown {
    color: var(--alert-color);
  }
}

mat-accordion {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

mat-panel-title {
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

mat-panel-description {
  display: none;
}

@media screen and (width > 500px) {
  .info {
    .label {
      display: inline;
    }

    .value {
      margin-left: 0;
    }
  }

  mat-panel-description {
    display: block;
  }
}
