<ng-template transloco let-t translocoRead="settingDialog.instruments">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>speed</mat-icon>{{ t('title') }}
      </mat-panel-title>
      <mat-panel-description> {{ t('description') }}</mat-panel-description>
    </mat-expansion-panel-header>

    <ng-container *ngrxLet="showOnlyOnActiveGps$ as showOnlyOnActiveGps">
      <mat-slide-toggle
        [checked]="showOnlyOnActiveGps"
        (change)="setShowOnlyOnActiveGps($event.checked)"
        >{{ t('showOnlyOnActiveGps') }}</mat-slide-toggle
      >
    </ng-container>
    <mat-accordion>
      <laamap-speed-widget-settings></laamap-speed-widget-settings>
      <laamap-altitude-widget-settings></laamap-altitude-widget-settings>
      <laamap-vario-widget-settings></laamap-vario-widget-settings>
      <laamap-tracking-widget-settings></laamap-tracking-widget-settings>
    </mat-accordion>
  </mat-expansion-panel>
</ng-template>
