<ng-template transloco let-t>
  <ng-container *ngrxLet="colorsBySpeed$ as colorsBySpeed">
    @if ((show$ | async) && (safePosition$ | async); as safePosition) {
      <div
        class="container"
        cdkDrag
        (cdkDragEnded)="dragEnded($event)"
        cdkDragBoundary="body"
        [cdkDragFreeDragPosition]="safePosition"
        [cdkDragStartDelay]="1000"
        [style.background]="colorsBySpeed.bgColor"
      >
        @if (colorsBySpeed.selectedSources.includes('gps')) {
          <h6>{{ t('widgets.speedMeter.groundSpeed') }}</h6>
          <span class="value" [style.color]="colorsBySpeed.textColor">
            <span class="fixed-value">{{
              colorsBySpeed.groundSpeed * 3.6 | number: '1.0-0'
            }}</span>
            {{ t('shared.speed.kph') }}</span
          >
        }
        @if (
          colorsBySpeed.selectedSources.includes('ias') &&
          colorsBySpeed.instrumentIasConnected
        ) {
          <h6>{{ t('widgets.speedMeter.airSpeed') }}</h6>
          <span class="value" [style.color]="colorsBySpeed.textColor">
            <span class="fixed-value">{{
              colorsBySpeed.airSpeed * 3.6 | number: '1.0-0'
            }}</span>
            {{ t('shared.speed.kph') }}</span
          >
        }
      </div>
    }
  </ng-container>
</ng-template>
