.container {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.3rem;
  padding: 0.25rem 0.75rem;
  cursor: move;
  z-index: 2;
  background-color: var(--base-color);

  h6 {
    font-size: calc(0.625rem * var(--widget-font-size-ratio));
    line-height: 100%;
    margin: 0;
    mix-blend-mode: difference;
    color: var(--base-color);
  }

  .value {
    font-size: calc(0.75rem * var(--widget-font-size-ratio));
  }
}
