<div class="back-drop" [class.open]="isOpen" (click)="backDropClicked()"></div>
<div
  class="search-box"
  [class.open]="isOpen"
  (click)="searchBoxClicked()"
  *transloco="let t; read: 'globalSearch'"
>
  <mat-icon>search</mat-icon>
  <input
    #inputElm
    (keydown)="keyDown($event)"
    type="text"
    [formControl]="searchControl"
    class="example-input"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
  />
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen"
    [cdkConnectedOverlayDisableClose]="true"
    [cdkConnectedOverlayOffsetX]="-32"
    [cdkConnectedOverlayOffsetY]="1"
    cdkConnectedOverlayPanelClass="global-search-bar-panel"
  >
    @if(searchResults$ | async; as searchResults) { @if(searchResults.length >
    0){
    <mat-selection-list>
      @for (group of searchResults; track group.label) {
      <mat-optgroup [label]="t(group.label)">
        @for (value of group.values; track value.name) {
        <mat-option [value]="value.data" (click)="optionSelected(value.data)">
          <span [laamapHighlightText]="searchControl.value">{{
            value.name
          }}</span>
        </mat-option>
        }
      </mat-optgroup>
      }
    </mat-selection-list>
    } }
  </ng-template>
</div>
