<ng-template transloco let-t translocoRead="customFlyRouteListDialog">
  <h1 mat-dialog-title>{{ t('title') }}</h1>
  <div mat-dialog-content>
    <mat-list role="list">
      @for (route of routeList | async; track route.id) {
        <mat-list-item role="listitem">
          <div class="row">
            <span class="name">{{ route.id }}</span>
            <button
              class="first-button"
              mat-mini-fab
              color="primary"
              (click)="remove(route)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab (click)="startNavigation(route)">
              <mat-icon>near_me</mat-icon>
            </button>
          </div>
        </mat-list-item>
      }
    </mat-list>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>
      {{ t('close') }}
    </button>
  </div>
</ng-template>
