mat-panel-description {
  display: none;
}

mat-slide-toggle {
  margin-bottom: 1rem;
  width: 100%;
}

mat-form-field {
  width: 100%;

  mat-label {
    margin-left: 2rem;
  }
}

.url-input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .url-input {
    flex: 1;
  }

  button {
    flex-shrink: 0;
    margin-top: -0.5rem; // Align with input field
  }
}

.airplane-instruments-status {
  color: var(--non-active-color);

  &.connected {
    color: var(--active-color);
  }
}

@media screen and (width > 500px) {
  mat-panel-description {
    display: flex;
  }
}
