<ng-template transloco let-t translocoRead="settingDialog.instruments">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>speed</mat-icon>{{ t('title') }}
      </mat-panel-title>
      <mat-panel-description> {{ t('description') }}</mat-panel-description>
    </mat-expansion-panel-header>

    <mat-slide-toggle
      [checked]="showOnlyOnActiveGps()"
      (change)="setShowOnlyOnActiveGps($event.checked)"
      >{{ t('showOnlyOnActiveGps') }}</mat-slide-toggle
    >
    <div>
      <mat-form-field>
        <mat-label>{{ t('airplaneInstrumentsUrl') }}</mat-label>
        <input
          matInput
          type="url"
          [ngModel]="airplaneInstrumentsUrl()"
          (ngModelChange)="setAirplaneInstrumentsUrl($event)"
          [ngModelOptions]="{ updateOn: 'blur' }"
        />
      </mat-form-field>
      <mat-icon
        class="airplane-instruments-status"
        [class.connected]="airplaneInstrumentsConnected()"
        >{{
          airplaneInstrumentsConnected() ? 'cloud_done' : 'cloud_off'
        }}</mat-icon
      >
    </div>
    <mat-accordion>
      <laamap-speed-widget-settings></laamap-speed-widget-settings>
      <laamap-altitude-widget-settings></laamap-altitude-widget-settings>
      <laamap-vario-widget-settings></laamap-vario-widget-settings>
      <laamap-tracking-widget-settings></laamap-tracking-widget-settings>
    </mat-accordion>
  </mat-expansion-panel>
</ng-template>
