.alert {
  /* stylelint-disable meowtec/no-px, alpha-value-notation, color-function-notation */
  --mat-sys-level3: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  --mat-sys-error: #ba1a1a;
  --mat-sys-corner-extra-small: 4px;

  border-radius: var(--mat-sys-corner-extra-small);
  box-shadow: var(--mat-sys-level3);
  color: var(--mat-sys-error);
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
