<ng-template transloco let-t translocoRead="settingDialog.ble">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{ t('bleInstrumentsSettings') }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="alert">{{ t('bleInstrumentsSettingsDesc') }}</div>
      @for (item of editList; track item.name) {
        <mat-form-field class="example-full-width">
          <mat-label>{{ item.name }}</mat-label>
          <input
            matInput
            [value]="item.value()"
            (change)="updateValue(item.name, $any($event.target).value)"
          />
        </mat-form-field>
      }
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>
