<ng-template transloco let-t translocoRead="widgets.navigation">
  <ng-container *ngrxLet="navigationSettings$ as navigationSettings">
    @if (
      (activeGps$ | async) &&
        (running$ | async) &&
        (navigationSettings.allowedRow.includes('GOAL_DISTANCE') ||
          navigationSettings.allowedRow.includes('GOAL_DURATION_LEFT') ||
          navigationSettings.allowedRow.includes('GOAL_ARRIVE_TIME')) &&
        (safePosition$ | async);
      as safePosition
    ) {
      <div
        class="container"
        cdkDrag
        (cdkDragEnded)="dragEnded($event)"
        cdkDragBoundary="body"
        [cdkDragFreeDragPosition]="safePosition"
        [cdkDragStartDelay]="1000"
        [style.background]="navigationSettings.bgColor"
        [style.color]="navigationSettings.textColor"
      >
        <ng-container *ngrxLet="navStats$ as navStats">
          <h6>{{ t('goal') }}</h6>
          @if (navigationSettings.allowedRow.includes('GOAL_DISTANCE')) {
            <h6>{{ t('distanceToGoal') }}</h6>
            <div class="value" data-cy="goalDistance">
              @if (navStats?.distanceToGoal) {
                {{
                  navStats?.distanceToGoal ?? 0
                    | translocoDecimal
                      : { minimumFractionDigits: 0, maximumFractionDigits: 0 }
                }}<span class="unit">km</span>
              }
              @if (!navStats?.distanceToGoal) {
                --
              }
            </div>
          }

          @if (navigationSettings.allowedRow.includes('GOAL_DURATION_LEFT')) {
            <h6>{{ t('timeToGoal') }}</h6>
            <div class="value" data-cy="goalTimeLeft">
              @if (navStats?.timeToGoal) {
                {{ navStats?.timeToGoal | digitalTime: false }}
              }
              @if (!navStats?.timeToGoal) {
                --
              }
            </div>
          }

          @if (navigationSettings.allowedRow.includes('GOAL_ARRIVE_TIME')) {
            <h6>{{ t('arriveTimeToGoal') }}</h6>
            <div class="value" data-cy="goalTimeArrive">
              @if (navStats?.timeToGoal) {
                {{
                  $any(navStats?.arriveTimeToGoal)
                    | translocoDate: { timeStyle: 'short' }
                }}
              }
              @if (!navStats?.timeToGoal) {
                --
              }
            </div>
          }
        </ng-container>
      </div>
    }
  </ng-container>
</ng-template>
