.description {
  font-size: 0.75rem;
}

.enabled-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

form,
.form {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.error {
  color: var(--alert-color);
}

mat-panel-description {
  display: none;
}

@media screen and (width > 500px) {
  mat-panel-description {
    display: flex;
  }
}
