<ng-template transloco let-t translocoRead="settingDialog.traffic">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>connecting_airports</mat-icon>{{ t('title') }}
      </mat-panel-title>
      <mat-panel-description>
        {{ t('description') }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="description">{{ t('disclaimer') }}</div>
    <mat-slide-toggle
      [ngModel]="enabled()"
      (ngModelChange)="enableTraffic($event)"
      data-cy="terrain-enable"
      >{{ t('enable') }}
    </mat-slide-toggle>

    @if (enabled()) {
      <div class="enabled-section">
        <mat-slide-toggle
          [ngModel]="isRego()"
          (ngModelChange)="setIsRego($event)"
          >{{ t('isRego') }}
        </mat-slide-toggle>

        <mat-form-field>
          <mat-label>{{ t('regoOrLabel') }}</mat-label>
          <input
            matInput
            type="text"
            [ngModel]="regoOrLabel()"
            (ngModelChange)="regoOrLabelChanged($event)"
          />
          <mat-hint>{{ t('regoOrLabelDescription') }}</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ t('type') }}</mat-label>
          <mat-select
            [ngModel]="aircraftType()"
            (ngModelChange)="setAircraftType($event)"
          >
            <mat-option [value]="0">{{ t('types.0') }}</mat-option>
            <mat-option [value]="1">{{ t('types.1') }}</mat-option>
            <mat-option [value]="2">{{ t('types.2') }}</mat-option>
            <mat-option [value]="3">{{ t('types.3') }}</mat-option>
            <mat-option [value]="4">{{ t('types.4') }}</mat-option>
            <mat-option [value]="5">{{ t('types.5') }}</mat-option>
            <mat-option [value]="6">{{ t('types.6') }}</mat-option>
            <mat-option [value]="7">{{ t('types.7') }}</mat-option>
            <mat-option [value]="8">{{ t('types.8') }}</mat-option>
            <mat-option [value]="9">{{ t('types.9') }}</mat-option>
            <mat-option [value]="10">{{ t('types.10') }}</mat-option>
            <mat-option [value]="11">{{ t('types.11') }}</mat-option>
            <mat-option [value]="12">{{ t('types.12') }}</mat-option>
            <mat-option [value]="13">{{ t('types.13') }}</mat-option>
            <mat-option [value]="16">{{ t('types.16') }}</mat-option>
            <mat-option [value]="17">{{ t('types.17') }}</mat-option>
            <mat-option [value]="18">{{ t('types.18') }}</mat-option>
            <mat-option [value]="19">{{ t('types.19') }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ t('displayTraffic') }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          @if (!accessKey()) {
            <div class="description">{{ t('loginRequired') }}</div>
            <form [formGroup]="loginForm" (submit)="login()">
              <mat-form-field>
                <mat-label>{{ t('email') }}</mat-label>
                <input matInput type="email" formControlName="email" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ t('password') }}</mat-label>
                <input
                  matInput
                  type="password"
                  formControlName="password"
                  (ngModelChange)="passwordChanged()"
                />
                @if (loginFailed()) {
                  <mat-hint class="error">{{ t('passwordError') }}</mat-hint>
                }
                @if (!pro()) {
                  <mat-hint class="error">{{ t('proRequired') }}</mat-hint>
                }
              </mat-form-field>
              <button
                mat-button
                [disabled]="!loginForm.valid || loginInProgress()"
                type="submit"
              >
                {{ t('login') }}
              </button>
            </form>
          } @else {
            <button mat-button (click)="logout()">{{ t('logout') }}</button>
            <div class="form">
              <mat-form-field>
                <mat-label>{{ t('maxAge') }}</mat-label>
                <input
                  matInput
                  type="number"
                  step="1"
                  min="1"
                  max="360"
                  [ngModel]="maxAge()"
                  (ngModelChange)="setMaxAge($event)"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>{{ t('maxHeightAboveMe') }}</mat-label>
                <input
                  matInput
                  type="number"
                  step="1"
                  min="0"
                  max="5000"
                  [ngModel]="maxHeightAboveMe()"
                  (ngModelChange)="setMaxHeightAboveMe($event)"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>{{ t('altitudeDisplayUnit') }}</mat-label>
                <mat-select
                  [ngModel]="altitudeDisplayUnit()"
                  (ngModelChange)="setAltitudeDisplayUnit($event)"
                >
                  <mat-option [value]="EHeightUnit.meter">{{
                    t('altitudeUnit.meter')
                  }}</mat-option>
                  <mat-option [value]="EHeightUnit.feet">{{
                    t('altitudeUnit.feet')
                  }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>{{ t('speedDisplayUnit') }}</mat-label>
                <mat-select
                  [ngModel]="speedDisplayUnit()"
                  (ngModelChange)="setSpeedDisplayUnit($event)"
                >
                  <ng-template transloco let-s translocoPrefix="shared.speed">
                    <mat-option [value]="ESpeedUnit.kph">{{
                      s('kph')
                    }}</mat-option>
                    <mat-option [value]="ESpeedUnit.mps">{{
                      s('mps')
                    }}</mat-option>
                  </ng-template>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>{{ t('actualizationPeriod') }}</mat-label>
                <input
                  matInput
                  type="number"
                  step="1"
                  min="1"
                  max="600"
                  [ngModel]="actualizationPeriod()"
                  (ngModelChange)="setActualizationPeriod($event)"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>{{ t('displayLine1') }}</mat-label>
                <mat-select
                  [ngModel]="displayLine1()"
                  (ngModelChange)="setDisplayLine1($event)"
                  multiple
                >
                  @for (option of displayOptions; track option) {
                    <mat-option [value]="option">{{
                      t('displayOptions.' + option)
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>{{ t('displayLine2') }}</mat-label>
                <mat-select
                  [ngModel]="displayLine2()"
                  (ngModelChange)="setDisplayLine2($event)"
                  multiple
                >
                  @for (option of displayOptions; track option) {
                    <mat-option [value]="option">{{
                      t('displayOptions.' + option)
                    }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          }
        </mat-expansion-panel>
      </mat-accordion>
    }
  </mat-expansion-panel>
</ng-template>
