<ng-template transloco let-t translocoRead="navigationDialog">
  <h1 mat-dialog-title>{{ t('title') }}</h1>
  @if (currentRoute$ | ngrxPush; as currentRoute) {
    <div mat-dialog-content>
      <mat-list
        cdkDropList
        (cdkDropListDropped)="drop($event, currentRoute)"
        [class.dragging]="dragging"
      >
        @for (
          point of currentRoute;
          track routeTrack(i, point);
          let i = $index
        ) {
          <mat-list-item
            cdkDrag
            (cdkDragStarted)="dragging = true"
            (cdkDragEnded)="dragging = false"
          >
            <div class="route-line">
              <div>{{ point.name }}</div>
              <mat-icon class="pointer" (click)="deleteRoutePoint(i)"
                >delete</mat-icon
              >
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        }
        @if (currentRoute.length < 1) {
          <span matListItemTitle>{{ t('noItemInList') }}</span>
        }
      </mat-list>
    </div>
    <div mat-dialog-actions [align]="'end'" *ngrxLet="running$ as running">
      <button
        mat-mini-fab
        [disabled]="currentRoute.length < 1"
        (click)="saveRoute()"
      >
        <mat-icon>save</mat-icon>
      </button>
      @if (currentRoute.length > 0) {
        <a
          mat-mini-fab
          [href]="routeToWindyUrl(currentRoute)"
          target="_blank"
          class="margin-right"
          [title]="t('checkWeather')"
          ><mat-icon>air</mat-icon></a
        >
      }
      @if (!running) {
        <button
          mat-mini-fab
          color="primary"
          [disabled]="currentRoute.length < 1"
          (click)="startNavigation()"
        >
          <mat-icon>navigation</mat-icon>
        </button>
      }
      @if (running) {
        <button mat-mini-fab color="warn" (click)="stopNavigation()">
          <mat-icon>stop</mat-icon>
        </button>
      }
      @if (!running) {
        <button
          mat-mini-fab
          color="warn"
          [disabled]="currentRoute.length < 1"
          (click)="deleteRoute()"
        >
          <mat-icon>block</mat-icon>
        </button>
      }
    </div>
    <div mat-dialog-actions [align]="'end'">
      <button mat-button (click)="showPoiList()">{{ t('POIList') }}</button>
      <button mat-button (click)="showRoutes()">
        {{ t('customFlyRoutes') }}
      </button>
      <button
        class="margin-right"
        mat-button
        [mat-dialog-close]="false"
        (click)="showTrackHistory()"
      >
        {{ t('trackingHistory') }}
      </button>
      <button mat-button [mat-dialog-close]="false" cdkFocusInitial>
        {{ t('close') }}
      </button>
    </div>
  }
</ng-template>
