.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 0.25rem;
  /* stylelint-disable-next-line dczajkowski/color-no-non-variables */
  box-shadow:
    0 0.3rem 0.3rem -0.2rem rgba(0 0 0 / 20%),
    0 0.5rem 0.6rem 1px rgb(0 0 0 / 14%),
    0 0.2rem 0.87rem 0.12rem rgb(0 0 0 / 12%);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.route-line {
  display: flex;
  justify-content: space-between;
}

.margin-right {
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

mat-list {
  .mdc-list-item {
    cursor: grab;
  }

  &.dragging {
    cursor: grabbing;

    .mdc-list-item {
      cursor: grabbing;
    }
  }
}
