<ng-template transloco let-t translocoRead="interestPointDialog">
  @if (data.mode === 'edit' && readOnlyMode === false) {
    <h1 mat-dialog-title>
      {{ t('editTitle') }}
    </h1>
  }
  @if (data.mode === 'edit' && readOnlyMode === true) {
    <h1 mat-dialog-title>
      {{ t('readTitle') }}
    </h1>
  }
  @if (data.mode === 'create') {
    <h1 mat-dialog-title>{{ t('title') }}</h1>
  }
  <div mat-dialog-content>
    @if (!readOnlyMode) {
      <mat-form-field>
        <mat-label>{{ t('name') }}</mat-label>
        <input matInput type="text" [formControl]="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ t('icon') }}</mat-label>
        <mat-select [formControl]="icon">
          <mat-select-trigger>
            <img
              class="selected-image"
              [src]="interestPointsService.getSrcFromIconName(icon.value)"
            />
          </mat-select-trigger>
          @for (img of interestPointsService.imageList; track img.name) {
            <mat-option [value]="img.name">
              <img class="option-image" [src]="img.src" />
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <quill-editor [formControl]="description"></quill-editor>
    }
    @if (data.mode === 'edit' && readOnlyMode) {
      {{ data.value.properties.name }}
      <img
        class="selected-image"
        [src]="
          interestPointsService.getSrcFromIconName(data.value.properties.icon)
        "
      />
      <quill-view [content]="data.value.properties.description"></quill-view>
    }
  </div>
  <div mat-dialog-actions [align]="'end'">
    <div class="left-side">
      @if (readOnlyMode) {
        <button mat-button (click)="readOnlyMode = false" data-cy="edit">
          {{ t('edit') }}
        </button>
        <button
          data-cy="delete"
          mat-button
          (click)="deletePoint()"
          color="warn"
        >
          {{ t('delete') }}
        </button>
      }
    </div>
    @if (!readOnlyMode) {
      <button
        data-cy="save"
        mat-button
        (click)="saveInterestPoint()"
        [disabled]="name.errors || icon.errors"
      >
        {{ t('save') }}
      </button>
    }
    <button
      mat-button
      [mat-dialog-close]="false"
      cdkFocusInitial
      data-cy="close"
    >
      {{ t('close') }}
    </button>
  </div>
</ng-template>
